*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $dark;
}

h1 {
  color: $white;
  font-size: 1.7rem;
  margin: 0.5em 0;
}

h2 {
  color: $white;
  font-size: 1.4rem;
}

h3 {
  color: $white;
  font-size: $font-size;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  color: $link;
  margin: 0.2em 0;
  font-size: $font-size / 1.1;
}

span {
  font-size: $font-size / 1.4;
  color: $link;
}

input {
  background-color: $link-background;
  border: $link-background;
  width: 100%;
  outline: none;
  border-radius: rem(4px);
  padding: 1rem 1rem;
  font-size: $font-size * 1.2;
  color: $white;
}

input::placeholder {
  color: rgba(166,176,207, 0.5);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 20px;
  border: 3px solid transparent;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.icon {
  color: $link;
  font-size: 1.7rem;
}

.status-active {
  background-color: $green;
}

.status-inactive {
  background-color: transparent;
  box-shadow: none;
}

.error {
  color: $error !important;
}

.input-error {
  border: 1px solid $error;
}

.showError {
  opacity: 1;
  transition: opacity 0.2s ease;


}

.hideError {
  opacity: 0;
}

.spinner {
  position: absolute;
  top: 90%;
  left: 50%;
}

.v-toast__item p {
  color: $dark-gray;
}
/*ANIMATIONS*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



