$primary: #7269EF;
$accent: #F0AB81;
$white: #e1e9f1;
$text-primary: #abb4d2;
$link: #a6b0cf;
$gray: #69717C;
$link-background: #3E4A56;
$green: #06d6a0;
$warning: #ffd166;;
$error: #ef476f;
$secondary: #303841;
$dark: #262E35;
$dark-gray: #36404A;


$font-size: 1rem;

